:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid {
  width: 1177px;
  height: 239px;
  min-width: 50px;
  min-height: 50px;
  flex: 0 0 auto;
}
.grid_1 {
  width: 1088px;
  height: 400px;
  min-width: 50px;
  min-height: 50px;
  flex: 0 0 auto;
}
